@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 81.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.signature {
  width: 130px;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.header {
  position: fixed;
  background-color: #171717;
  z-index: 10;
  width: 100%;
  padding: 10px 0px 10px;
  box-shadow: 0px 0px 10px #171717;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo {
  margin-left: -24px;
}
.header__items {
  display: flex;
}

.burger {
  transition: 0.5s;
  transform: translateY(-900px);
  position: absolute;
  top: -23px;
  background-color: #E5E5E5;
  left: 0;
  width: 100%;
  padding: 35px 0px;
}
.burger__top {
  display: flex;
  justify-content: end;
}
.burger__search {
  margin-left: 75px;
}
.burger__logo {
  margin-left: 25px;
}
.burger__user {
  margin-left: 25px;
}
.burger__pagest {
  margin-left: 25px;
  margin-right: 25px;
}
.burger__items {
  margin-top: 73px;
  text-align: center;
}
.burger__item {
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 34px;
  font-weight: 400;
  color: #555555;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin-left: 47px;
}
.menu__item:nth-child(1) {
  margin-left: 0px;
}
.menu__link {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #fff;
}

.header-item {
  margin-right: 25px;
}
.header-item__link {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #fff;
}
.header-item:nth-child(1) {
  margin-left: 0px;
  margin-right: 48px;
}
.header-item:last-child {
  margin-right: 0px;
}
@media (max-width: 769px) {
  .menu__list {
    display: none;
  }

  .header-item:nth-child(1) {
    display: none;
  }

  .header__logo {
    max-width: 150px;
  }
  .header__logo img {
    max-width: 150px;
  }

  .lock .burger {
    transform: translateY(0px);
  }
  .lock .icon-menu::after {
    content: "";
    background-color: #555555;
  }
  .lock .icon-menu::before {
    content: "";
    background-color: #555555;
  }
}
@media (max-width: 576px) {
  .header-item:nth-child(2) {
    display: none;
  }

  .header-item:nth-child(4) {
    display: none;
  }
}
.footer {
  padding: 75px 0px 142px;
  background-color: #EEE4DA;
  color: #555555;
}
.footer__logo {
  padding-bottom: 65px;
  margin-bottom: 65px;
  border-bottom: 1px solid #555555;
  display: block;
}
.footer__logo img {
  margin-left: 50%;
  transform: translateX(-50%);
}
.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer-item__text {
  margin-top: 26px;
  max-width: 244px;
  font-size: 14px;
  line-height: 1.4;
}
.footer-item__signature {
  margin-top: 26px;
}
.footer-item__contact {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.2;
}
.footer-item__mail {
  display: block;
  margin-left: 29px;
  position: relative;
}
.footer-item__mail::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  left: -29px;
  width: 17px;
  height: 17px;
  background-image: url(../img/mail.svg);
  background-size: contain;
  top: 4px;
}
.footer-item__whatsap {
  display: block;
  position: relative;
}
.footer-item__whatsap::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  top: 4px;
  left: -29px;
  width: 17px;
  height: 17px;
  background-image: url(../img/whatap.svg);
  background-size: contain;
}

.footer-name {
  font-size: 24px;
  line-height: 1.4;
  color: #555555;
  font-weight: 400;
}

.socials {
  display: flex;
  margin-top: 26px;
}
.socials__item {
  border-radius: 50%;
  background-color: #F5ECE3;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__icon {
  display: block;
}

.footer-list__item {
  margin-top: 25px;
}
.footer-list__item:nth-child(1) {
  margin-top: 0;
  margin-bottom: 42px;
}
@media (max-width: 891px) {
  .footer {
    padding: 40px 0px 40px;
  }
  .footer__logo {
    padding-bottom: 40px;
    margin-bottom: 20px;
  }

  .footer-item:nth-child(4) {
    display: none;
  }
}
@media (max-width: 568px) {
  .footer-list:nth-child(2) {
    display: none;
  }
}
@media (max-width: 400px) {
  .footer-list:nth-child(3) {
    display: none;
  }

  .footer-name {
    display: none;
  }

  .footer-item__text {
    max-width: 100%;
  }

  .socials {
    display: flex;
    justify-content: center;
  }

  .footer-item__signature {
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.header-slider {
  padding: 112px 0px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.header-slider__wrapper {
  margin-top: 100px;
  margin-bottom: 200px;
}
.header-slider__title {
  font-size: 48px;
  line-height: 1.2;
  color: white;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}
.header-slider__title::after {
  content: "";
  position: absolute;
  width: 38%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #EEE4DA;
}

.products {
  padding: 70px 0;
  background-color: #F5ECE3;
  font-weight: 400;
}
.products__items {
  display: grid;
  grid-template-columns: 310px 310px 310px 310px;
  column-gap: 20px;
  grid-gap: 20px;
}
.products__item {
  background-color: #EEE4DA;
  padding: 0 20px 21px;
}
.products__img {
  width: 300px;
  margin: 0px auto;
}
.products__bue {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.6;
  color: #555555;
  font-weight: 400;
}
.about-us {
  background-image: url(../img/bg-bolt.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #F5ECE3;
  padding: 200px 0px 205px;
}
.about-us__container {
  color: #555555;
}
.about-us__desc {
  max-width: 492px;
  margin-left: auto;
}
.about-us__logo {
  margin-bottom: 67px;
  display: block;
}
.about-us__title {
  margin-bottom: 34px;
  font-size: 32px;
  line-height: 1.4;
  color: #555555;
}
.about-us__text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.8;
  color: #555555;
}

.about-us-avtore {
  display: flex;
}
.about-us-avtore__name {
  font-size: 24px;
  line-height: 2.4;
}
.about-us-avtore__name span {
  display: block;
  font-size: 13px;
  line-height: 1.3;
}
.about-us-avtore__podpis {
  margin-left: 35px;
}

.gallery {
  padding: 137px 0 127px;
  background-color: #F5ECE3;
}
.gallery__desc {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.gallery__title {
  font-size: 48px;
  line-height: 1.8;
  color: #555555;
  max-width: 600px;
}
.gallery__link {
  font-size: 20px;
  line-height: 1.2;
  color: #555555;
  max-width: 600px;
  padding: 28px 98px;
  border-radius: 66px;
  background-color: #EEE4DA;
}
.gallery__items {
  display: grid;
  grid-template-columns: 310px 310px 310px 310px;
  grid-gap: 20px;
  column-gap: 20px;
  margin-top: 97px;
}
.gallery__item img {
  max-width: 309px;
  border-radius: 6px;
}

@media (max-width: 1400px) {
  .products__items {
    grid-template-columns: 310px 310px 310px;
    max-width: 975px;
    margin: 0px auto;
  }

  .gallery__desc {
    margin-bottom: 50px;
  }

  .gallery__items {
    grid-template-columns: 310px 310px 310px;
    max-width: 975px;
    margin: 0px auto;
  }
}
@media (max-width: 1260px) {
  .about-us {
    background-size: 60vh;
    background-position-y: bottom;
    padding: 120px 0;
  }
}
@media (max-width: 1060px) {
  .about-us {
    background-size: 50vh;
    background-position-y: center;
    padding: 110px 0;
  }
}
@media (max-width: 991px) {
  .products__items {
    display: grid;
    grid-template-columns: 310px 310px;
    max-width: 650px;
    margin: 0px auto;
  }

  .about-us {
    padding: 90px 0;
    background-size: 40vh;
  }
  .about-us__text {
    font-size: 16px;
  }

  .about-us__desc {
    max-width: 380px;
  }

  .about-us__title {
    font-size: 24px;
  }

  .gallery__items {
    grid-template-columns: 310px 310px;
    max-width: 650px;
    margin: 0px auto;
  }
}
@media (max-width: 766px) {
  .about-us {
    padding: 50px 0px 800px;
    background-position-x: center;
    background-position-y: 100%;
    background-size: 600px;
  }

  .about-us__desc {
    max-width: 100%;
    text-align: center;
  }

  .about-us-avtore {
    display: flex;
    justify-content: center;
  }

  .gallery__title {
    font-size: 38px;
  }

  .gallery__link {
    padding: 15px 65px;
  }
}
@media (max-width: 720px) {
  .products__items {
    display: grid;
    grid-template-columns: 310px;
    max-width: 280px;
    margin: 0px auto;
  }

  .products__item {
    padding: 5px;
    max-width: 280px;
    display: none;
  }
  .products__item img {
    max-width: 250px;
  }
  .products__item:nth-child(1) {
    display: block;
  }
  .products__item:nth-child(3) {
    display: block;
  }
  .products__item:nth-child(9) {
    display: block;
  }

  .gallery {
    padding: 50px 0;
  }
  .gallery__desc {
    display: flex;
    flex-direction: column;
  }
  .gallery__link {
    margin: 10px auto 0;
  }

  .gallery__items {
    grid-template-columns: 1fr 1fr;
    max-width: 520px;
    margin: 0px auto;
  }
  .gallery__items img {
    max-width: 250px;
  }
}
@media (max-width: 576px) {
  .header-slider__title {
    font-size: 36px;
  }

  .about-us {
    padding: 50px 0px 700px;
    background-position-x: center;
    background-size: 100%;
  }

  .gallery__title {
    font-size: 30px;
  }
  .gallery__items {
    grid-template-columns: 1fr 1fr;
    max-width: 420px;
    margin: 0px auto;
  }
  .gallery__items img {
    max-width: 200px;
  }
}
@media (max-width: 450px) {
  .about-us {
    padding: 10px 0px 600px;
    background-position-x: center;
    background-size: 100%;
  }
  .about-us__desc {
    text-align: left;
  }
  .about-us__title {
    font-size: 22px;
  }

  .gallery {
    padding: 15px 0;
  }

  .gallery__items {
    grid-template-columns: 1fr 1fr;
    max-width: 340px;
    margin: 0px auto;
  }
  .gallery__items img {
    max-width: 160px;
  }
}
@media (max-width: 380px) {
  .about-us {
    padding: 10px 0px 500px;
  }

  .about-us-avtore {
    flex-direction: column;
    align-items: center;
  }
  .about-us-avtore__podpis {
    display: none;
  }

  .gallery__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery__items img {
    max-width: 210px;
  }
}
